<section class="card">
  <div>
    <h5>{{title}}</h5>
    <h6>{{post_content}}</h6>
    <h6 style="font-weight: lighter; text-align: right;">{{user.username}} - <span style="font-style: italic;">{{post_date}}</span></h6>
    <div class="button-container" style="display: flex; justify-content: space-around;">
      <button class="btn btn-primary" type="click">Edit Post</button>
      <button id="delete-btn" class="btn btn-primary delete-btn" type="click" data-id="{{id}}">Delete Post</button>
    </div>
  </div>
</section>