<section class="card">
  <a href="/gallery/{{id}}">
    <h5>{{title}}</h5>
    <h6>{{post_content}}</h6>
    <h6 style="font-weight: lighter; text-align: right;">{{user.username}} - <span style="font-style: italic;">{{post_date}}</span></h6>
  </a>
</section>